
pre {
	border: 0px;
	background-color: #FFF;
}

/* navbar */
/* navbar */
/* navbar */
/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-brand {
    color: #6679B3;
	font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E3B429;
}

/* button */
/* button */
/* button */
/* button */
.button {
	margin: 5px;
	width: 95%; /* re-size button width on collapse */
}

/* note page items */
/* note page items */
/* note page items */
/* note page items */
.item {
	background: #FFF;    
	text-align: left;
	border: 1px solid #E7E7E7;
}

/* carousel */
/* carousel */
/* carousel */
/* carousel */
.carousel {
	margin-top: 10px;
}
/* circle indicator div */
.carousel-indicators {
  position: a;
  top: -20px;
  bottom: 100%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
/* circle indicators */
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: #8198DE;
	border: 1px solid #6679B3;
	border-radius: 10px;
}
/* active circle indicator */
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #FAFF63;
}

/* footer */
/* footer */
/* footer */
/* footer */
.footer {
	margin-top: 20px;
}








